h1 {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: var(--accent-color);
    text-transform: uppercase;
}

.header__nav-links-new-arrivals {
    color: green;
}

.highlight {
    color: var(--accent-color);
}

.header__nav-links a:hover {
    font-weight: bold;
}
